
.trending-products {
    background-color: #E5E5E5;
    width: 100%;
    margin: auto;
    
    p {
        margin: 0px;
    }

    .product-img {
        max-width: 292px;
        max-height: 270px;
    }
    
    .product-promo {
        background-color: #fff;
        height: 51px;
        padding-top: 20px;
    }
    
    .product-promo-content {
        background-color: #E7FF86;
        display: inline;
        margin: 20px;
        border-radius: 15px;
    }
    
    .gridtop {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin-bottom: 20px;
    }
    
    .product-price {
        text-decoration: line-through;
        margin-right: 10px;
        opacity: 0.5;
    }
    
    .product-prices {
        margin-bottom: 25px;
    }
    
    .product-type {
        opacity: 0.5;
        font-size: small;
    }
    
    .see-all {
        opacity: 0.5;
        font-size: smaller;
    }

    .product-img {
        background-color: #fff;
    }
}
